.slider h3,
.slider h5,
.clients {
	text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

body {
	font-family: 'Oxygen', sans-serif;
}

h4, h3, h2, h1 {
	font-family: 'Yatra-One', serif;
	margin-bottom: 35px;
}

h6 {
	font-weight: bold;
}

.card-panel{
    height: 200px; /* Your height here */
    overflow: hidden;
}

.parallax-container {
	height: 20%;
}

.parallax img {
	filter: grayscale(1);
	opacity: 0.5 !important;
}

.clients img {
	max-width: 150px;
	filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.8));
}

.carousel .carousel-item {
width:350px !important;
height: 400px;
}

@media only screen and (max-width: 425px) {

.carousel .carousel-item {
width:200px !important;
height: 200px;

}

.carousel p {
	font-size: 8px; 
}

.mobileLogo {
	margin-bottom: -50px;
}

.downButton {
	margin-bottom: 10px;
}

}

@media only screen and (max-width: 768px) {
	.h5small {
		font-size: 14px;
		margin-bottom: 10px;
	}
}

section {
	padding: 20px 0;
}

footer {
	padding: 3px 0;
}