.slider h3,
.slider h5,
.clients {
	text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

body {
	font-family: 'Oxygen', sans-serif;
}

h4, h3, h2, h1 {
	font-family: 'Yatra-One', serif;
	margin-bottom: 35px;
}

.card-panel{
    height: 200px; /* Your height here */
    overflow: hidden;
}

.parallax-container {
	height: 20%;
}

.parallax img {
	filter: grayscale(1);
	opacity: 0.5 !important;
}

.clients img {
	max-width: 150px;
	filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.8));
}

.carousel .carousel-item {
width:400px !important;
height: 400px;
}

section {
	padding: 20px 0;
}

footer {
	padding: 3px 0;
}